<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html">
	<meta charset="utf-8" lang="pt-br">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Styles.Render("~/Content/css")
	<!---*** Início: Para fazer funcionar o DatePicker ***--->
	@Scripts.Render("~/bundles/jquery-ui")
	@Scripts.Render("~/bundles/jquery-ui-i18n")
	@Styles.Render("~/Content/jquery-ui")
	<!---*** Fim: Para fazer funcionar o DatePicker ***--->
	@*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Salão de Festas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Reservar", "Index", "Agenda")</li>
					@*<li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>*@
					<li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Condomínio Edifício Ilha Bela</p>
		</footer>
	</div>

	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
			@RenderSection("scripts", required: false)*@

	<!---*** Início: Anexar DatePicker no campo DataReserva ***--->
	@*<script>
		$(function () {

			$.datepicker.setDefaults($.datepicker.regional['pt-BR']);

			$("#DataReserva").datepicker({
				showOtherMonths: true,
				selectOtherMonths: true,
				numberOfMonths: 1
				//,dateFormat: 'dd/mm/yy'
			});
		});
	</script>*@
	<!---*** Fim: Anexar DatePicker no campo DataReserva ***--->
</body>
</html>