@model ReservarSalaoFestas.Models.Clientes

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Confirma Deleção?</h3>
<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
